
h1{color: blue;
  text-align: left;
  font-family: serif;
}
h2{
  color: green;
  font-style: italic;
  text-align: left;
  background-color: yellow;
  font-size: 40px;
}
p{
  font-family: sans-serif;
}
ul{
  line-height: 40px;
}
